# Compiled Lua sources
luac.out

# luarocks build files
*.src.rock
*.zip
*.tar.gz

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex


# Ignore Roblox Studio temporary files and directories
*.rbxl.tmp
*.rbxlx.tmp
*.pyc
.DS_Store

# Ignore Rojo build artifacts
*.rblx
*.rblxl
out/

# Ignore Rojo specific settings and configuration caches
.rojo/
.rojo-output/

# Ignore system-specific files
Thumbs.db
desktop.ini

# Ignore Visual Studio Code settings
.vscode/

# Ignore logs
logs/
*.log

# Ignore MacOS specific files
._*
.Spotlight-V100
.Trashes
.AppleDouble
.LSOverride
Icon
__MACOSX/

# Ignore other OS-specific files
*.swp
*.swo
*~

*.lock
